<header align="center">
    <h1>List of Products in Inventory</h1>
</header>

<body>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div *ngFor="let product of products" class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ product.brand }}</h6>
                            <p class="card-text">{{ product.description }}</p>
                            <h5 class="card-title">${{ product.price }}</h5>
                            <a href="/edit/{{product.productId}}" class="card-link">Edit</a>
                            <a href="/delete/{{product.productId}}" class="card-link">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>